<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto|Fozzter</title>
    <%- include("partials/header.html") %>
</head>
<body class="body">
    <%- include("partials/nav.html") %>
<!-- Default form subscription -->
<form class="text-center border border-light p-5  animate__animated animate__backInDown" action="/correcto">

    <p class="h4 mb-4">Unirse</p>

    <!-- Name -->
    <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Nombre" required>

    <!-- Email -->
    <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="E-mail" required>
    <p>Unete a nuestra nula comunidad ya que no hay nadie y ayudanos a crecer y propagar vias al conocimiento para todo el mundo "que nunca te falten oportunidades"</p>
    <p>
        <a href="" target="_blank">Terminos y condiciones</a>
    </p>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block" type="submit">Registrarse</button>


</form>
<!-- Default form subscription -->
</form>
<!-- Material form subscription -->
 <%- include("partials/footer.html") %> 
</body>

</html>