<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correcto | Fozzter</title>
    <%- include("partials/header.html") %>
</head>
<body class="body">
    <%- include("partials/nav.html") %> 
   <div class="todo-correcto animate__animated animate__backInRight">
       <p class="verificacion-correcta">Registro exitoso <i class="fas fa-check-circle"></i></p>
       <p class="link-inicio"><a class="a-inicio"href="/">Volver a inicio</a></p>
   </div>
    <%- include("partials/footer.html") %> 
</body>
</html>