<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/header.html") %>
</head>
<body>
    <%- include("partials/nav.html") %>
    <section class="section-programacion">
        <div class="pagina">
            <h2 class="items-title">Deporte</h2>
            <div class="pagina-programacion">
                <h2 class="programacion-title">El deporte en el ambito del acondicionamiento fisico</h2>
        <p class="programacion-p">El deporte orientado al acondicionamiento fisico claramente conlleva a una actividad fisica,desde realizar un cambio total en la capacidad de la fuerza-resistencia a un cambio fisico-estetico<br><br>

        El acondicionamiento fisico necesita de mentores tal cual un inicio prudente, algunos de ellos y los cuales han demostrado un impacto y un resultado en diversas personas son de aquellos de los cuales se muestran a continuacion
        </p><br><br>  
           
        <h3 class="title-2-programacion">Deporte-acondicionamiento fisico</h3>
        <div class="cursos-gratis">
        <div class="Athlean-x">
            <hr>
        <h4 class="title-3-programacion">Athlean-x</h4>
        <hr>
        <p class="programacion-p-2"> Jeff calaviere y fundador de Athlean-x es un youtubers de entramiento pero mas importante acerca de el, es un especialista de fuerza y acondicionamiento certificado que se ha desempeñado como el terapeuta físico principal y entrenador de fuerza asistente para los New York Mets del 2006 al 2009. Es el fundador de ATHLEAN-X Training Systems, un programa visto en su increíblemente popular canal de Youtube que tiene más de 10 millones de suscriptores.En pocas palabras es un profesional que sabe lo que hace,habla y recomienda, en su canal ofrece cientas de rutinas particulares de cada tipo de entrenamiento y orientacion del mismo a la que estes dispuesta a realizar para lleguar a esa meta, ya sea deportiva,stetica o de salubridad<br><br>
            -<a href="https://www.youtube.com/channel/UCAR76PvwLHcHqnbqFIos_Xg" target="_blank">Canal de youtube</a><br><br>
         Una prueba viviente de sus buenas rutinas y explicaciones es su amigo jesse, el cual frente a su entrenamiento personalizado pero manifestado por el mimso canal logro un cambio asombroso en tan solo 4 meses, asombroso me refiero se nota diferencia, tampoco la escultura, por esto mismo continua con el proceso y avance en el mismo, como instructor para su comunidad.
        
        </p>
        </div>
        <div class="Sergio Peinado">
            <hr>
        <h4 class="title-3-programacion">Entrena con Sergio Peinado</h4>
        <hr>
        <p class="programacion-p-2">Sergio Peinado, más de 3.100.000 suscriptores, es un youtubers de acondicionamiento fisico y mas que todo del mundo "vive fit", este es de Albacete pero vino a Madrid a estudiar. Y aquí se quedó. Tiene 28 años y es Licenciado en Ciencias de la Actividad Física y del Deporte, entrenador personal por la NSCA y especialista en fuerza y acondicionamiento físico CSCS.Y para ello hizo toda clase de deportes.En su cana del youtube instruye a su cominidad a alcanzar ese ideal de la vida fit con todo tipo de rutinas y tips acompañados de chistes y vivencias rutinales.<br><br>
            -<a href="https://www.youtube.com/user/EntrenaSergioPeinado" target="_blank">Canal de youtube</a><br><br>
        Su metodologia de enseña es perpicaz y humorista de ciertamente comodidad evitando la monotonia de cada video.   
        </p>
        </div>
        <div class="BUFF Academy">
            <hr>
        <h4 class="title-3-programacion">BUFF Academy</h4>
        <hr>
        <p class="programacion-p-2">BUFF Academy es una academia de entrenamiento principalmente calistenico,Vadym cavalera, el creador de esta acdemia es un ucraniano calistenico algo chistoso pero demasiado sabio y retador en razon de que cada una de sus rutinas son un enorme reto gratificante y desarrollador, tambien en su canal realiza entretenimiento relacional social con la calistenia como ir retando a la gente en la calle y dar dinero a quien le gane entre otras cosas, como los anteriores este canal es totalmente recomendado para un cambio o fortalecimiento en la actividad fisica y deporte<br><br>
            -<a href="https://www.youtube.com/channel/UCuzmut0enwi-LrnyYwD0NCA" target="_blank">Canal de youtube</a><br><br>
        Su canal es bastante famoso con 4,42 millones de suscriptores/14/12/2020/.  
        </p>
        </div>
        <hr>
        </div>
        </div>
        </div>
            </section>
    <%- include("partials/footer.html") %> 
    
</body>
</html>