<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include("partials/header.html") %>
</head>
<body class="body">
  <%- include("partials/nav.html") %> 
   
       <div class="container-title-inicio">
      <h2 class = "items-inicio">Elige tu oportunidad</h2>
    </div>
    <div class="areas-inicio">
      <a href="/programacion"><h5 class="items-inicio-areas">Programación</h5></a>
      <a href="/marketing"><h5 class="items-inicio-areas">Marketing</h5></a>
      <a href="/deporte"><h5 class="items-inicio-areas">Deporte</h5></a>
      <a href="/anime"><h5 class="items-inicio-areas">Anime</h5></a>
    </div>
  <%- include("partials/footer.html") %> 
</body>
</html>