<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing | Fozzter</title>
    <%- include("partials/header.html") %>
</head>
<body>
    <%- include("partials/nav.html") %>
    <section class="section-programacion">
        <div class="pagina">
            <h2 class="items-title">Marketing digital</h2>
            <div class="pagina-programacion">
                <h2 class="programacion-title">El satisfactorio mundo del marketing digital</h2>
        <p class="programacion-p">Antes de todo definamos el marketing segun pioneros y promotores del mismo:<br>
            Varios autores de marketing lo definen de la siguiente manera<br><br>

            Para iniciar tendremos en cuenta la de Philip Kotler, para muchos el padre del marketing tal y como lo conocemos en la actualidad. Para él, el marketing es  «el proceso social y administrativo por el cual los grupos e individuos satisfacen sus necesidades al crear e intercambiar bienes y servicios».<br><br>
            Para John A. Howard, escritor de «El comportamiento del consumidor en la estrategia de marketing» el marketing es «el proceso de:
            Identificar las necesidades del consumidor
            Conceptualizar tales necesidades en función de la capacidad de la empresa para producir
            Comunicar dicha conceptualización a quienes tienen la capacidad de tomar de decisiones en la empresa
            Conceptualizar la producción obtenidad en función de las necesidades previamente identificadas del consumidor
            Comunicar dicha conceptualización al consumidor.»<br><br>
            Según Jerome McCarthy, creador del concepto marketing mix, «el marketing es la realización de aquellas actividades que tienen por objeto cumplir las metas de una organización, al anticiparse a los requerimientos del consumidor o cliente y al encauzar un flujo de mercancías aptas a las necesidades y los servicios que el productor presta al consumidor o cliente». <br><br>
            En conclusión el marketing es un sistema total de actividades que incluyen procesos mediante los cuales se identifican las necesidades o deseos de los consumidores o clientes, para luego satisfacerlas de la mejor manera posible al promover el intercambio de productos y/o servicios de valor con ellos, a cambio de una utilidad para la empresa u organización.
        </p><br><br>  
           
        <h3 class="title-2-programacion">Mejores cursos gratis de marketing digital</h3>
        <div class="cursos-gratis">
        <div class="network">
            <hr>
        <h4 class="title-3-programacion">Neetwork business school</h4>
        <hr>
        <p class="programacion-p-2">Neetwork es una escuela de marketing digital bastante buena, en donde totalmente gratis encontraras un curso segmentado en las partes mas fundamentales del marketing digital como la creación de sitios webs mediante gestores de contenidos como WordPress, SEO(optimización de motores de búsqueda)(español)),email marketing, Google analyticss, entre otros, además de que si se realiza la transición a alumno premium por comprar un hosting mediante sus enlaces y descuentos ofrecen en cuanto a su repertorio de cursos, dos absolutamente gratis incluyendo el curso de persuasión de ventas impartido por Jordán Belfort, si el famoso y viejo Jordán Belfort.<br><br>
            -<a href="https://neetwork.com/" target="_blank">Neetwork marketing digital gratis</a><br><br>
            Para terminar, Neetwork cuenta con un chat en vivo las 24 horas para atender a cualquier inquietud o solicitud también con un grupo de Facebook con una comunidad de apoyo para los imprevistos en donde puedes colocar el tuyo o mirar si ya alguien lo obtuvo, este incluye certificación sim embargo hay que pagarla.
        
        </p>
        </div>
        <div class="learndigital">
            <hr>
        <h4 class="title-3-programacion">Learndigital-google</h4>
        <hr>
        <p class="programacion-p-2">Esta plataforma trae consigo un enorme repetorio de cursos en competencias digitales como de desarrollo web y marketing digital entre otras, son gratis e impartidas por Google active<br><br>
            -<a href="https://learndigital.withgoogle.com/activate/courses" target="_blank">Competencias digitales</a><br><br>
        La plataforma incluye certificacion.    
        </p>
        </div>
        <hr>
        </div>
        </div>
        </div>
            </section>
    <%- include("partials/footer.html") %> 
</body>
</html>