<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros | Fozzter</title>
    <%- include("partials/header.html") %>
</head>
<body class="body">
    <%- include("partials/nav.html") %>

<div class="nosotros animate__animate animate__bounceIn">
    <h2 class="items-inicio">¿Quien soy?</h2>
<p class="texto-nosotros">
    Mi nombre es Juan Manuel Vargas uno de los cientos de estudiantes de la MisionTic2022, vivo en la ciudad de Medellín, municipio sabaneta, tengo 15 años y de manera de complemento realice este proyecto final implementando todo el paradigma del curso(trimestre) al igual que las áreas del conocimientos como complemento para nuestro aprendizaje en el periodo de tres meses.<br><br>
    Este sitio web o proyecto ideológico tiene como finalidad una de las cosas mas preciadas para los seres humanos, "ahorrar tiempo o sencillamente aprovechar cada segundo y no tener que realizar búsquedas que ya otros ejecutaron", es decir en cada área o ámbito se eficaz y como no, eficiente, seria sensacional que nos ayudaras para que cada ámbito se fortalezca, no hay pena ¿que via al conocimiento conoces tu que otros no?.
</p>
</div>
    <%- include("partials/footer.html") %> 
</body>
</html>