<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/header.html") %>
</head>
<body>
    <%- include("partials/nav.html") %> 
    <section class="section-programacion">
<div class="pagina">
    <h2 class="items-inicio">Programación</h2>
    <div class="pagina-programacion">
        <h2 class="programacion-title">Programacion y sus vias a ella</h2>
<p class="programacion-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum et, corrupti beatae perferendis aut temporibus odit quis quod, vel non, sapiente iste voluptates voluptatibus veniam voluptate commodi placeat excepturi dolorum molestias amet ipsum. Aliquam harum consectetur velit, corporis quibusdam hic maiores odio fuga adipisci incidunt nam ea eveniet minima omnis? Mollitia commodi autem officiis magnam. Unde est voluptas deleniti alias, exercitationem delectus, nulla incidunt possimus repellendus illo quod laudantium aperiam esse sed corporis, minima itaque adipisci autem? Minus nobis fugit neque consequatur natus tempore reprehenderit, iusto labore ducimus debitis nisi aut est, fugiat voluptatem soluta facilis earum veritatis incidunt.</p>
</div>
</div>

    </section>
    <%- include("partials/footer.html") %> 
</body>
</html>