<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programación | Fozzter</title>
    <%- include("partials/header.html") %>
</head>
<body>
    <%- include("partials/nav.html") %> 
    <section class="section-programacion">
<div class="pagina">
    <h2 class="items-title">Programación</h2>
    <div class="pagina-programacion">
        <h2 class="programacion-title">La programación y  sus puertas abiertas</h2>
        <p class="programacion-p"><b>Como se define: </b>La programación es la acción de programar que implica ordenar, estructurar o componer una serie de acciones cronológicas para cumplir un objetivo. La programación puede ser aplicado para eventos sociales, a medios de comunicación y al mundo informático de las computadoras.<br><br>En conclusión el programar es sustentar la resolución de cada algoritmo ya sea computacional o convencional, lo mas fascinante es que esta es el gran camino por el cual se plasman la inventiva, las ideas, la imaginación, la creatividad y la capacidad de decisión para sencillamente CREAR.<br></br>
            Algunas vez como programadores sin ser algo genéricos, nos hemos preguntado, ¿Qué ruta debo escoger?,¿que curso debo tomar?,¿voy por el camino correcto?, pues es algo trivial y que a continuación en relación a lo anterior se darán secciones de los mejores cursos de programación de acuerdo a fuentes, y paginas para los mismo, por esto mismo no hay un camino, hay una meta y para llegar a ella existen diversidad de senderos y complementos como lo son las paginas webs y librerías entre otros</p><br><br>  
<h3 class="title-2-programacion">Mejores cursos gratias de programación</h3>
<div class="cursos-gratis">
<div class="dalto">
    <hr>
<h4 class="title-3-programacion">Soy Dalto</h4>
<hr>
<p class="programacion-p-2">Lo mas sensacional de esta segmentación del aprendizaje en la programación que Soy Dalto ofrece,son sus cursos transmitidos y disponibles desde la plataforma de youtube, este mismo proporciono actualmente 4 cursos líneales para aprender programación:<br><br>
    -<a href="https://www.youtube.com/watch?v=kN1XP-Bef7w" target="_blank">Html desde cero a avanzado</a><br>
    -<a href="https://www.youtube.com/watch?v=OWKXEJN67FE" target="_blank">Css desde cero a avanzaso</a><br>
    -<a href="https://www.youtube.com/watch?v=z95mZVUcJ-E" target="_blank">Javascript nivel junior</a><br>
    -<a href="https://www.youtube.com/watch?v=xOinGb2MZSk" target="_blank">Javascript Mid Level</a><br><br>
    Lo mas interesante es que próximamente publicara el curso de JavaScript senior uno de los niveles quiméricos y relevantemente sociales en el mundo de la programación mas alto(ante-semi-senior).

</p>
</div>
<div class="Platzi">
    <hr>
<h4 class="title-3-programacion">Platzi</h4>
<hr>
<p class="programacion-p-2">Platzi es una de las plataformas educativas mas famosas en este ultimo año y como no, trae consigo un curso de programación básica y uno de los pocos gratis que tiene, es un curso basico no obstante no lo parece ya que se teoriza en JavaScript y Arduino como motores de trascendencia en el mismo, además lo mas llamativo es que el profesor que lleva a cabo el curso, Fredy vegas, plantea a lo largo de las clases mini proyectos mega interesantes y que pueden ser llevados a lo grande ya que son perfectos para emplear los conocimientos previos agregando el chat de apoyo de cada clase es el mayo toque como interacción mutua altruista<br><br>
    -Platzi: <a href="https://platzi.com/clases/programacion-basica/" target="_blank">Curso gratis de programación básica</a><br><br>
Finalmente recomendaría Platzi para personas con algunos conocimiento básicos de programación tampoco nada del otro mundo pero si una idea e interacción previa, en razón de que el curso avanza bastante rápido y los proyectos cada vez son mayores y sensacionales, sin duda algo de lo que no arrepentirse.
</p>
</div>
<div class="ed.team">
    <hr>
<h4 class="title-3-programacion">ed.team</h4>
<hr>
<p class="programacion-p-2">ed.team es una plataforma educativa con cursos online, en donde su área de programación y tecnología destaca bastante<br><br>
    -ed.team: <a href="https://ed.team/tecnologia" target="_blank">Cursos</a><br><br>
    Lo bueno es que posee dos cursos gratis en tecnología, un curso de introducción a API REST y uno de programación desde cero edición 2020, estos cursos incluyen certificación pero a costo.
</p>
</div>
<div class="MySQL">
    <hr>
<h4 class="title-3-programacion">Edutin academy</h4>
<hr>
<p class="programacion-p-2">Edutin academy es una academia de cursos bastante diversos no obstante esta posee un muy buen curso de base de datos en MySQL<br><br>
    -Edutin academy: <a href="https://edutin.com/curso-de-mysql-4303" target="_blank">Curso de MySQL gratis</a><br><br>
El tema de la bases de datos abordada es bastante ordenada sin embargo no puedo con certeridad anunciar su potencial, espero tu historia:).
</p>
</div>
</div>
</div>
</div>


    </section>
    <%- include("partials/footer.html") %> 
</body>
</html>