<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">#Apóyanos</h5>
          <p>La congruencia de cada hecho es el apoyo de una oportunidad</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Complementos</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://getbootstrap.com/">Bootstrapt</a>
            </li>
            <li>
              <a href="https://animate.style/">Animate</a>
            </li>
            <li>
              <a href="https://www.heroku.com/">Heroku</a>
            </li>
            <li>
              <a href="https://youtu.be/AlyBo6RzgA4">Profe johrman</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Frases</h5>
  
          <ul class="list-unstyled">
            <li>
              "El secreto es empezar"
            </li>
            <li>
              "Las oportunidades no se van las aprovechan otros"
            </li>
            <li>
              "las oportunidades dominadas son oportunidades ganadas"
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://fozzter.herokuapp.com/">Fozzter.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
</html>